/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Martel', serif;*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif
}

a {
  text-decoration: none;
  color: black;
}

welcome {
  font-family: 'Martel', serif;
  color: #E7E8E6;
}